{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="min-h-screen  flex flex-col items-center justify-center p-4">
  <div class="flex flex-col items-center">
            <a href="{% url 'myapp:index' %}" class="flex items-center gap-3 mb-4 hover:opacity-80 transition">
                <img src="{% static 'images/icon_bulb.png' %}" alt="SkillGrid Logo" class="h-8 w-8 sm:h-10 sm:w-10 md:h-12 md:w-12">
                <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold tracking-wide font-sans">
                    Skill<span class="text-indigo-400">Grid</span>
                </h1>
            </a>
        </div>
  <form method="POST" enctype="multipart/form-data" class="bg-white p-6 rounded-xl shadow-md w-full max-w-lg space-y-4">
    {% csrf_token %}
    <h2 class="text-xl  font-bold text-center">Update Profile</h2>
    {% if form.non_field_errors %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="text-center">
      {% if profile.profile_pic %}
        <img src="{{ profile.pro_pic.url }}" class="w-24 h-24 rounded-full mx-auto object-cover">
      {% else %}
        <img src="{% static 'images/profile-pic.png' %}" class="w-24 h-24 rounded-full mx-auto">
      {% endif %}
    </div>
    <div>
      <label class="block text-white font-bold mb-2">Profile Picture:</label>
      <input type="file" name="profile_pic" class="w-full border text-white p-2 rounded">
      {% if form.profile_pic.errors %}
        <span class="text-red-600 text-sm">{{ form.profile_pic.errors.0 }}</span>
      {% endif %}
    </div>

    <div>
      <label class="block  font-bold mb-2">Phone:</label>
      <input type="text" name="phone" value="{{ profile.phone }}"
             placeholder="Phone"
             class="w-full border p-2 rounded">
      {% if form.phone.errors %}
        <span class="text-red-600 text-sm">{{ form.phone.errors.0 }}</span>
      {% endif %}
    </div>

    <div>
      <label class="block  font-bold mb-2">Address:</label>
      <input type="text" name="address" value="{{ profile.address }}"
             placeholder="Address"
             class="w-full border p-2 rounded">
      {% if form.address.errors %}
        <span class="text-red-600 text-sm">{{ form.address.errors.0 }}</span>
      {% endif %}
    </div>

    <div>
      <label class="block  font-bold mb-2">Bio:</label>
      <textarea name="bio" placeholder="Bio"
                class="w-full border p-2 rounded" rows="4">{{ profile.bio }}</textarea>
      {% if form.bio.errors %}
        <span class="text-red-600 text-sm">{{ form.bio.errors.0 }}</span>
      {% endif %}
    </div>

    <button type="submit"
            class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">
      Save Changes
    </button>

  </form>
</div>
{% endblock %}