{% extends 'base.html' %}
{% load static %}
{% block body %}

{% load static %}

<div class="min-h-screen  flex flex-col gap-6 items-center justify-center p-4">
  <div class="bg-white shadow-lg rounded-2xl w-full max-w-3xl p-6">
    <div class="flex flex-col items-center">
        <a href="{% url 'myapp:index' %}" class="flex items-center gap-3 mb-4 hover:opacity-80 transition">
            <img src="{% static 'images/icon_bulb.png' %}" alt="SkillGrid Logo" class="h-8 w-8 sm:h-10 sm:w-10 md:h-12 md:w-12">
            <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold tracking-wide font-sans">
                Skill<span class="text-indigo-400">Grid</span>
            </h1>
        </a>
        <h2 class="mt-4 text-center text-xl sm:text-2xl font-semibold text-gray-900 uppercase">Welcome back, {{ user.username }}</h2>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <div class="w-32 h-32 items-center">
        {% if profile.profile_pic %}
          <img src="{{ profile.pro_pic.url }}" 
               class="w-full h-full rounded-full object-cover border-4 border-gray-200">
        {% else %}
          <img src="{% static 'images/profile-pic.png' %}" 
               class="w-full h-full rounded-full object-cover border-4 border-gray-200">
        {% endif %}
      </div>
      <div class="text-center  md:text-left">
        <h2 class="text-2xl font-bold text-gray-800">
          {{ profile.user.username }}
        </h2>
      </div>
    </div>
    <hr class="my-6 h-[1px] bg-gray-200 border-0">
    <div class="grid grid-cols-1  md:grid-cols-2 gap-4 text-gray-700">
      <div class="">
        <span class="font-semibold">Email:</span>
        <p class="text-gray-500 mt-1">{{ profile.user.email }}</p>
      </div>
    <div>
        <span class="font-semibold">Bio</span>
        <p>{{ profile.bio|default:"No bio added" }}</p>
      </div>
      <div>
        <span class="font-semibold">Phone:</span>
        <p>{{ profile.phone|default:"Not provided" }}</p>
      </div>
      <div>
        <span class="font-semibold">Address:</span>
        <p>{{ profile.address|default:"Not provided" }}</p>
      </div>
    </div>

    <div class="mt-6 text-center md:text-right">
      <a href="{% url 'user:edit_profile' %}" 
         class="inline-block px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
        Edit Profile
      </a>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center">
    <a href="{% url 'user:logout' %}" class="bg-red-500 rounded-xl text-white font-bold shadow-xl px-4 py-2">Logout</a>
  </div>
  
</div>

{% endblock %}