{% extends 'base.html' %}
{% block body %}
<div class="min-h-screen">
    <div class="flex flex-col  items-center gap-auto bg-slate-900 lg:mx-auto  lg:flex hidden" >
        <div class="text-xl flex gap-8 text-white  ">
                <a href="" class="shadow-2xl">Devoplopment</a>
                <a href="" class="shadow-2xl">Business</a>
                <a href="" class="shadow-2xl">Finance & Accounting</a>
                <a href="" class="shadow-2xl">IT & Software</a>
                <a href="" class="shadow-2xl">office Productivity</a>
                <a href="" class="">Personal Devolopment</a>
                <a href="" class="hidden xl:block ">Design</a>
                <a href="" class="hidden xl:block ">Marketing</a>
                <a href="" class="hidden 2xl:block">Health & Fitness</a>
                <a href="" class="hidden 2xl:block ">Music</a>
        </div>
    </div>    
</div>
{% endblock %}