
{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="ml-12 mt-7 mr-12">
    <div class="text  p-7">
        <div class=" flex mb-7 md:flex p-5 bg-blue-600 rounded-xl text-white justify-center text-sm md:text-lg gap-5   ">
            <a href="" class="hover:text-green-700">Devoplopment</a>
            <a href="" class="hover:text-green-700">Business</a>
            <a href="" class="hover:text-green-700">Finance & Accounting</a>
            <a href="" class="hover:text-green-700">IT & Software</a>
            <a href="" class="hover:text-green-700">Office Productivity</a>
        </div>
        <div class="p-5 bg-yellow-500 rounded-2xl shadow-xl">
            <div class=" text-center p-5 ">
                <div>
                    <h1 class="mb-4 text-xl font-bold tracking-tight text-heading md:text-5xl lg:text-6xl">Build Real Skills. Learn From Experts.</h1>
                </div>                
                <div>
                   <p class="mb-10  text-lg font-normal text-body lg:text-xl sm:px-16 xl:px-48"><span class="font-bold text-2xl">“</span>Access high-quality courses designed to help you gain practical, real-world knowledge and build the confidence needed to solve complex problems. Our carefully structured content goes beyond theory, focusing on hands-on learning, real-life scenarios, and industry-relevant skills that employers truly value. Whether you are just starting out or looking to advance your career, these courses are tailored to support your growth at every stage.<span class="font-bold text-2xl">”</span></p> 
                </div>
                <div>
                  <a href="#" class="p-3 bg-blue-500 font-bold rounded-xl items-center text-white hover:bg-blue-700 ">Explore more</a>  
                </div>
                       
            </div>
        </div>
    </div>
    <div class="">
        <div class="flex justify-center m-3">
            {% if user.is_superuser %}
            <div>
                <img height="60px" width="60px" src="/static/images/admin.png" alt="">
            </div>
            {% else %} 
            <div>
                <img height="60px" width="60px" src="/static/images/profile-pic.png" alt="">
            </div>
            {% endif %}
            <div class="flex items-center  pl-5 text-2xl font-bold">
                <H1 class="">Welcome back <span class="uppercase font-bold italic ">{{user.username}}</span></H1>
            </div>
        </div>
        <div  class="relative mt-10" >
            <div class="">
                
            </div>
        </div>
        <div>
            <div class="mt-6 mb-6">
                <H1 class="text-2xl font-bold ">Recomended for you</H1>
            </div>
        </div>
        <div class="bg-yellow-500 p-10 shadow-2xl rounded-2xl">
            <div class="grid geid-cols-1 md:flex md:flex-row">
            {% for item in course %}
            <a href="{% url 'myapp:detail' item.id %}">
            <div class="flex mr-6 rounded-2xl gap-2 text-black bg-slate-900 shadow-xl flex-col hover:bg-neutral-secondary-medium  p-6 justify-between">
                <img class="rounded-xl object-fit " src="{{item.image.url}}" alt="">  
                    <H1 class="text-md line-clamp-2 min-h-[50px] text-white font-semibold">{{item.name}}</H1>
                    <H1 class="text-xs text-white font-bold">{{item.instructor.username}}</H1>
                    <H1 class="text-2xl text-green-600 font-bold">${{item.price}}</H1>
                    <H1 class="font-bold text-lg text-yellow-300">⭐{{item.rating}}</H1>
                    
                    <div class="flex justify-center pt-2 gap-4">
                        <button class="inline-flex items-center text-white font-bold text-sm bg-indigo-400 rounded-xl p-2 ">Premium</button>
                        <button class="bg-blue-300 p-2 font-bold text-sm rounded-xl">bestseller</button>
                    </div>      
            </div>
            </a>  
            {% endfor %}
            </div>
        </div>
        <div>
            <div class="mt-6 mb-6">
                <H1 class="text-2xl font-bold">Trending courses</H1>
            </div>
        </div>
        <div class="flex flex-row">
            {% for item in course %}
            <a href="{% url 'myapp:detail' item.id %}">
            <div class="flex mr-6 rounded-2xl gap-2 text-black bg-slate-900 shadow-xl flex-col hover:bg-neutral-secondary-medium  p-6 justify-between">
                <img class="rounded-xl object-fit " src="{{item.image.url}}" alt="">  
                    <H1 class="text-md line-clamp-2 min-h-[50px] text-white font-semibold">{{item.name}}</H1>
                    <H1 class="text-xs text-white font-bold">{{item.instructor.username}}</H1>
                    <H1 class="text-2xl text-green-600 font-bold">${{item.price}}</H1>
                    <H1 class="font-bold text-lg text-yellow-300">⭐{{item.rating}}</H1>
                    
                    <div class="flex justify-center pt-2 gap-4">
                        <button class="inline-flex items-center text-white font-bold text-sm bg-indigo-400 rounded-xl p-2 ">Premium</button>
                        <button class="bg-blue-300 p-2 font-bold text-sm rounded-xl">bestseller</button>
                    </div>      
            </div>
            </a>  
            {% endfor %}
        </div>
        <div>
            <div class="mt-6 mb-6">
                <H1 class="text-2xl font-bold">Web development courses</H1>
            </div>
        </div>
        <div class="flex flex-row">
            {% for item in course %}
            <a href="{% url 'myapp:detail' item.id %}">
            <div class="flex mr-6 rounded-2xl gap-2 text-black bg-slate-900 shadow-xl flex-col hover:bg-neutral-secondary-medium  p-6 justify-between">
                <img class="rounded-xl object-fit " src="{{item.image.url}}" alt="">  
                    <H1 class="text-md line-clamp-2 min-h-[50px] text-white font-semibold">{{item.name}}</H1>
                    <H1 class="text-xs text-white font-bold">{{item.instructor.username}}</H1>
                    <H1 class="text-2xl text-green-600 font-bold">${{item.price}}</H1>
                    <H1 class="font-bold text-lg text-yellow-300">⭐{{item.rating}}</H1>
                    
                    <div class="flex justify-center pt-2 gap-4">
                        <button class="inline-flex items-center text-white font-bold text-sm bg-indigo-400 rounded-xl p-2 ">Premium</button>
                        <button class="bg-blue-300 p-2 font-bold text-sm rounded-xl">bestseller</button>
                    </div>      
            </div>
            </a>  
            {% endfor %}
        </div>
        <div>
            <div class="mt-6 mb-6">
                <H1 class="text-2xl font-bold">AI courses</H1>
            </div>
        </div>
        <div class="flex flex-row">
            {% for item in course %}
            <a href="{% url 'myapp:detail' item.id %}">
            <div class="flex mr-6 rounded-2xl gap-2 text-black bg-slate-900 shadow-xl flex-col hover:bg-neutral-secondary-medium  p-6 justify-between">
                <img class="rounded-xl object-fit " src="{{item.image.url}}" alt="">  
                    <H1 class="text-md line-clamp-2 min-h-[50px] text-white font-semibold">{{item.name}}</H1>
                    <H1 class="text-xs text-white font-bold">{{item.instructor.username}}</H1>
                    <H1 class="text-2xl text-green-600 font-bold">${{item.price}}</H1>
                    <H1 class="font-bold text-lg text-yellow-300">⭐{{item.rating}}</H1>
                    
                    <div class="flex justify-center pt-2 gap-4">
                        <button class="inline-flex items-center text-white font-bold text-sm bg-indigo-400 rounded-xl p-2 ">Premium</button>
                        <button class="bg-blue-300 p-2 font-bold text-sm rounded-xl">bestseller</button>
                    </div>      
            </div>
            </a>  
            {% endfor %}
        </div>
        <div class="flex justify-center mt-10 bg-green-500 p-5 rounded-xl shadow-lg cursor-pointer">
            <div>
                <img src="{% static 'images/premium.jpg' %}" alt="">
            </div>
            <div class="flex">
                <p>Unlock full access to all premium courses and resources with our membership plan for just ₹519 per month. Gain unlimited learning opportunities, including in-depth lessons, practical projects, and expert guidance designed to help you build real-world skills and advance your career.
                With this membership, you can learn at your own pace, revisit content anytime, and stay consistent with your growth without any restrictions. Whether you're aiming to improve your problem-solving skills, master new technologies, or become job-ready, this plan gives you everything you need in one place.
                </p>
            </div>
        </div>
        
    </div>
</div>              

    
{% endblock %}