{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="mb-10 flex-1">
    <div class="ml-12 mt-12 mr-12">
        <div class="">
            <h1 class="text-3xl font-bold">Instructor Dashboard</h1>
            <hr class="mt-2 border-t-4 border-gray-800">
        </div>
        <div>
            {% if not my_course %}
            <div class="  p-5 rounded-xl shadow-xl bg-white mt-5">
                <div class="flex justify-between rounded-xl">
                    <p class="p-1 font-extralight text-3xl">You are not created any course yet create one</p>
                    <a class="shadow-lg bg-blue-500 rounded-xl pr-5 pl-5 pt-3 pb-3" href="{% url 'myapp:create_course' %}">Create Your Course</a>
                </div>
            </div>
            {% else %}
            
            <div class="flex justify-center rounded-xl">
                <a class="shadow-lg bg-blue-500 rounded-xl pr-5 pl-5 pt-3 pb-3" href="{% url 'myapp:create_course' %}">Create Your Course</a>
                <div class="bg-yellow-500 p-10 shadow-2xl rounded-2xl">
                    <div class="grid geid-cols-1 md:flex md:flex-row">
                    {% for item in my_course %}
                    <a href="">
                    <div class="flex mr-6 rounded-2xl gap-2 text-black bg-slate-900 shadow-xl flex-col hover:bg-neutral-secondary-medium  p-6 justify-between">
                        {% if item.image %}
                            <img class="rounded-xl object-fit " src="{{ item.image.url }}" alt="">
                        {% else %} 
                             <img class="rounded-xl object-fit " src="{% static 'images/course_image.webp' %}" alt="">
                        {% endif %}
                            <H1 class="text-md line-clamp-2 min-h-[50px] text-white font-semibold">{{item.name}}</H1>
                            <H1 class="text-xs text-white font-bold">{{item.instructor.username}}</H1>
                            <H1 class="text-2xl text-green-600 font-bold">${{item.price}}</H1>
                            <H1 class="font-bold text-lg text-yellow-300">⭐{{item.rating}}</H1>
                            
                            <div class="flex justify-center pt-2 gap-4 ">
                                <a href="{% url 'myapp:update_course' item.id %}" class=" inline-flex items-center cursor-pointer text-white font-bold text-sm bg-indigo-600 hover:bg-indigo-800 rounded-xl p-2 ">Update course</a>
                                <a href="{% url 'myapp:delete_course' item.id %}" class="inline-flex items-center text-white font-bold text-sm bg-red-600 hover:text-red-800 rounded-xl p-2 ">Delete course</a>
                                
                            </div>      
                    </div>
                    </a>  
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div>
            <a href="" id="instructor-profile">
                <img src="{{request.user.image}}" alt="">
               <p>{{instructor}}</p>
               <p>{{instructor.descrition}}</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}