{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="min-h-screen flex items-center justify-center bg-gray-100 p-4">
  <form method="POST" enctype="multipart/form-data"
        class="bg-white p-6 rounded-xl shadow-md w-full max-w-md space-y-4">
    {% csrf_token %}
    <h2 class="text-xl font-bold text-center">Edit Instructor</h2>
    {% if instructor.image %}
      <img src="{{ instructor.image.url }}" class="w-24 h-24 rounded-full mx-auto">
    {% else %}
      <img src="{% static 'images/profile-pic.png' %}" class="w-24 h-24 rounded-full mx-auto">
    {% endif %}
    <div class="bg-gray-300 items-center rounded-xl flex justify-between shadow-xl p-3">
      <label class="mr-4" for="">Description:</label>
      <textarea name="description"
              class="w-full border p-2 rounded">{{ instructor.description }}</textarea>
    </div>
    <div class="bg-gray-300 items-center rounded-xl flex justify-between shadow-xl p-3">
        <label for="">Image:</label>
        <input type="file" name="image">
    </div>
    <button type="submit"
            class="w-full bg-blue-600 text-white py-2  rounded">
      Update
    </button>
  </form>
</div>
{% endblock %}